<div id=waabu-content class=container>
   <div class="row jumbotron">
      <!-- row directive 1 -->
      <div class=col-xs-4>
         <!-- column directive 2 -->
      </div>
      <div class=col-xs-4>
         <!-- column directive 3 -->
      </div>
      <div class=col-xs-4>
         <!-- column directive 4 -->
      </div>
   </div>

   <div class="row jumbotron">
      <div class=col-xs-4>
         <!-- column directive 5 -->
      </div>
      <div class=col-xs-4>
         <!-- column directive 6 -->
      </div>
      <div class=col-xs-4>
         <!-- column directive 7 -->
      </div>
   </div>
   
   <div class="row jumbotron">
      <!-- row directive 2 -->
   </div>
</div>
