<div id=waabu-content>
  <div class="marketing-block brand-blue-block">
    <div class="marketing-big-text">
      <span style="font-size:72px;">Thank you, your payment has been received. Details will be in your email.</span>
    </div>
    <div class="marketing-mid-text text-center">
      <span style="font-size:48px;">If you have any issues, feel free to send us an email at support@waabu.com, or through your Dashboard.</span>
    </div>
  </div>
</div>
<waabu-footer></waabu-footer>
