<html>
<head>
<script>
function closeWindow() {
   window.open('', '_self').close();
   return;
}

window.setInterval("closeWindow()", 5000);
</script>
</head>

<body>
Your payment has been cancelled. Please complete the transaction promptly to provision your service.

This window will close automatically in 5 seconds.
</body>
</html>
