<html>
<head>
<script>
function closeWindow() {
   window.open('', '_self').close();
   return;
}

window.setInterval("closeWindow()", 5000);
</script>
</head>

<body>
Thank you for your prompt payment. You will be sent service details to your email shortly.

This window will close automatically in 5 seconds.
</body>
</html>
