<div class=container>
  <div class="row tile-padding">
    <div class="tile brand-blue-tile">
      <div class="row tile-padding">
         <form role="form">
        <div class="form-group">
        <textarea ng-model="feedback" class="form-control form-input"  placeholder="Write us a note." rows="10"></textarea>
        </div>

        <a type="submit" ng-click="sendFeedback()" href="" class="large-circle-button brand-blue-button">Submit</a>
        </form>
        <div ng-show="error" class="row" style="padding:15px;">
          <div class="alert alert-danger tile-error">{{ errormessage }}</div>
        </div>
        <div ng-show="success" class="row" style="padding:15px;">
          <div class="alert alert-success tile-success">Thanks for your feedback! :)</div>
        </div>
      </div>
    </div>
  </div>
</div>

