<div class="marketing-block dark-blue-block">
<div class=container>
<div class=row>
<div class="col-md-offset-2 col-md-8 text-center tile-space">
  <div class=row>
    <div class=col-md-4>
      <a class="finalise-item-button light-red-button" href="" ng-click="cancelItem()">Cancel</a>
    </div>
    <div class=col-md-4>
      <a style="padding-top: 42px;" class="finalise-item-button light-blue-button" href="" ng-click="addCompleteItem()">Continue Shopping</a>
    </div>
    <div class=col-md-4>
      <a class="finalise-item-button light-green-button" href="" ng-click="checkout()">Checkout</a>
    </div>

  </div>
</div>
</div>
</div>
</div>
