<div class="jumbotron">
<div class="row">
<div class="col-xs-2">
<p class="text-center"><a ng-click="subCPU()">-</a> {{getCPU()}} <a ng-click="addCPU()">+</a></p>
<h2 class="text-center">CPU{{extraS()}}</h2>
</div>
<div class="col-xs-2">
<p class="text-center"><a ng-click="subRAM()">-</a> {{getRAM()}} <a ng-click="addRAM()">+</a></p>
<h2 class="text-center">RAM</h2>
</div>
<div class="col-xs-2">
<p class="text-center"><a ng-click="subHDD()">-</a> {{getHDD()}} <a ng-click="addHDD()">+</a></p>
<h2 class="text-center">Storage</h2>
</div>
<div class="col-xs-2">
<p class="text-center"><a ng-click="subBW()">-</a> {{getBW()}} <a ng-click="addBW()">+</a></p>
<h2 class="text-center">Data</h2>
</div>
<div class="col-xs-4">
<h1 class="text-center">${{getPrice()}}</h1>
<p class="text-center">per month</p>
<button class=pagination-centered>Order</button>
</div>
<!--div class="col-xs-6">
RAM: <inh2ut tyh2e="range" name="ram" id="ram_slider" min="1" max="32" value=1><div id="ram_amount"></div>
CPU: <inh2ut tyh2e="range" name="ch2u" id="ch2u_slider" min="1" max="12" value=1><div id="ch2u_amount"></div>
HDD: <inh2ut tyh2e="range" name="hdd" id="hdd_slider" min="1" max="100" value=1><div id="hdd_amount"></div>
Bandwidth: <inh2ut tyh2e="range" name="bandwidth" id="bandwidth_slider" min="1" max="50" value=1><div id="bandwidth_amount"></div>
</div>
Price: <div id="h2rice"></div>
</div-->
</div>
</div>
