<div id="waabu-content" ng-controller="ConfigCtrl">
<div class=container>
   <div class="row jumbotron">
     <h1 class=text-center>Advanced Configuration</h1>
   </div>
   <div class="row jumbotron">
      <p class=text-center>Select your OS</p>
   </div>
   <div class="row jumbotron">
   <p class=text-center>Backup your data for money</p>
   <p class=text-center>Encrypt your data to stop the NSA</p>
   <p class=text-center>Enter an SSH key for us to preload</p>
   </div>
   <div class="row jumbotron">
      <h1 class=text-center><a href="{{ nextStep }}">Finalise and Pay</a></h1>
   </div>
   </div>
</div>
