<div class="marketing" style="background-color: white;">
  <div class="container" style="padding: 40px 0px 0px 0px;">
    <div class="row text-center">
      <span style="padding:30px; font-style: italic; color: #2B2B2B;" class=heading>Meet Waabu</span>
      <span style="padding:30px; font-weight: 300; color: #2B2B2B;" class=copy>Waabu is passionate about bringing computing to you. We deal with the technical details, to make your life simpler, safer and smarter.</span>
    </div>
  </div>
</div>

<div class="marketing-block light-grey-block">
  <div class="container">
    <div class="row">

<!--	<div class="col-xs-6" style="text-align: center;">
	<div class="row" style="padding: 20px 0px;">
        <span style="padding:30px; font-weight: 800; color: #454545;" class=copy>Dawshiek Yogathasar</span></br>
        <span style="padding:30px; font-weight: 300; color: #2B2B2B;" class=copy>Chief Executive Officer</span>
	</div>
	</div>

	<div class="col-xs-6" style="text-align: center;">
	<div class="row" style="padding: 20px 0px;">
        <span style="padding:30px; font-weight: 800; color: #454545;" class=copy>Andrew 'Autumn' Coleman</span></br>
        <span style="padding:30px; font-weight: 300; color: #2B2B2B;" class=copy>Chief Technology Officer</span>
	</div>
	</div -->
    </div>
  </div>
</div>

<waabu-footer></waabu-footer>

<!-- template 

<div class="marketing">
  <div class="container">
    <div class="row text-center">
      <span style="padding:30px; font-style: italic;" class=heading>Waabu who?</span>
      <span style="padding:30px; font-weight: 300; color: #e8f2f7;" class=copy>Waabu is a cloud services company, and our mission is simple: delivering the most intuitive experience out there. Whether you're new to computing, suffered through learning Frontpage in high school, or an experienced developer, Waabu is for you.</span>
    </div>
  </div>
</div>

-->
