<div id="waabu-content" ng-controller="PackageSelectCtrl">
<div class=container>
   <div id=waabu-row1 class="row">
      <h1 class=text-center>Select Packages</h1>
   </div>
   <div id=waabu-row2 class="row">
         <div class="col-xs-4">
         </div>
         <div class="col-xs-4">
         </div>
         <div class="col-xs-4">
         </div>
   </div>

   <div id=waabu-row3 class="row">
         <div class="col-xs-4">
         </div>
         <div class="col-xs-4">
         </div>
         <div class="col-xs-4">
         </div>
   </div>
   <div id=waabu-row4 class="row">
      <p class=text-center><a href="{{ nextStep }}">Finalise and Pay</a></p>
      <p class=text-center><a href="{{ advConfig }}">Or, select and configure your operating system.</a></p>
   </div>
</div>
</div>
