<div class="marketing" style="background-color: white;">
  <div class="container">
    <div class="row text-center">
    </div>
  </div>
</div>

<div class="marketing-block light-grey-block">
  <div class="container">
    <div class="row">
	<h1>Privacy Policy</h1>
	<p>
	Waabu Pty Ltd (ABN 47 167 678 168; hereinafter, Waabu) respects your privacy and is
committed to the protection of it. This Waabu Privacy Policy (hereinafter, Privacy Policy)
applies to data collected Waabu through the majority of its web sites and services.
	<h4>Information Collected Via Waabu Pty Ltd Website(s)</h4>
	</p>
	We may collect information about your visit(s) to our website(s), including the pages you view, links clicked and other actions taken in connection with Waabu websites and services. We also collect certain standard information that is sent by your browser every time a website is visited, such as your IP address, which browser and language used and access times. We may correlate this information about you with other information that we hold elsewhere.

	We may, at times contract out functions pertaining to marketing related activities, that utilises this data. We however respect your privacy, as such in doing so Waabu minimises third parties from seeing identification information of the individuals accessing the website
	</p>

	<h4>Collection of Personal Information</h4>
	<p>
	In some certain interactions with Waabu, we ask for you to provide personal information. Usually, the information is not of a sensitive nature. This personal information may include, based on the type of interaction:

	<h5> - Interactions with Waabu via Email/Online Support</h5>
	In the case of Waabus Subscribers and former subscribers, the Subscribers Name, E-mail address, and other information that the clients may provide in their course of communication with us. This information may include, but is not limited to Telephone Number, E-mail/Mail Address, financial information linking to subscribers accounts (such as PayPal accounts, Bitcoin addresses, last 4 digits of their credit card number, or details regarding invoice payments).
	</p>

	<h4>Generally</h4>
	<p>
	Personal information may be collected within other interactions you have with Waabu. Regardless of the source of intentions, this Privacy Policy applies to both to protect and inform you of the way in which the purpose of that personal information may be used.
To access Waabu services via the internet, you will be asked to sign in with an e­mail address
and/or username, as well as a password (hereinafter, credentials). Some Waabu services may
require additional security; in these cases, you will be asked to provide the relevant information in order for Waabu to allow access to those services.
	</p>

	<h4>Use & Sharing of Personal Information</h4>	
	<p>
	Waabu collects and uses personal information to improve and operate its websites, and to deliver the service and/or carry out the transactions on request. In particular, this information is used to: provide you with accurate, secure support, sales, and other services; provide you with a greater customer experience. Further used to make our sites or services easier to use; perform research and analysis with the aim to improving Waabu's products and services. It also may be used to display content and advertising tailored to your preferences.

Except as described in this Privacy Policy, we will not disclose your personal information outside Waabu and its controlled subsidiaries, affiliates, agents and suppliers, without your consent.

Without limiting any of our rights, we further reserve the right to access and/or disclose your personal information if we believe such action is necessary to: comply with the law or legal process served on Waabu; protect and defend the rights or property of Waabu (including the enforcement of our agreements); or act in urgent circumstances to protect the personal safety of users of Waabu services or members of the public. These rights specifically extend to any subsidiaries, companies or contractors whom we retain on our behalf.

	</p>
	
	<h4>Security</h4>
	<p>
	Waabu strives to secure all its services and Servers with the highest levels of security. There is however some degree of risk when transferring information across any medium. Waabu carries out all steps to maximise security and integrity of your personal information. This includes, but is not limited to: Ensuring all server communication is secured by encryption.
	</p>

	<h4>Deletion of Accounts</h4>
	<p>
	We delete all private information on cancelled accounts unless obligated by law to retain information. Personal information is deleted immediately after cancellation and will never be sold to other companies or affiliates.
	</p>


    </div>
  </div>
</div>

<waabu-footer></waabu-footer>
