<div class="marketing" style="background-color: white;">
  <div class="container">
    <div class="row text-center">
    </div>
  </div>
</div>

<div class="marketing-block light-grey-block">
  <div class="container">
    <div class="row">
	<h1>Terms of Service &  Acceptable Use Policy</h1>

	<p>
	Waabu's Acceptable Use Policy is provided to give our customers and users a clear understanding of what Waabu expects of them while using the service. All users of Waabus Internet services: those who access some of our services with or without our accounts, as well those who pay a service fee to subscribe to the services, must comply with this Acceptable Use Policy.
Waabu reserves the right, at any time and from time to time, to amend or to modify these Terms of Service without prior notice to You. Amendments/Modifications take effect immediately when update on the website. By continuing to access, use Waabus website and its services. You agree to be bound by such amended or modified Terms of Service. Waabu encourages all users to review Terms of Service page whenever You use Waabus site and/or its services. If you do not agree with Waabus Terms and conditions, then you must terminate/stop using Waabus site and its services immediately.
	</p>


	<h4>Eligibility & Acceptance </h4>
	<p>
	This website is not targeted towards, nor intended for, use of anyone under 18. By using the website. You agree that you are either of 18 years of age or older, you may use our Website and its Services. In order to access Waabus services, you are required to provide current and factual identification, contact, and other information as part of the registration process. You're responsible for the confidentiality of the account. You're responsible for ALL action's within the accounts registered under you, including any actions by friends, family and/or any compromised access. You agree to notify Waabu on any unauthorized use of your account and/or any breach of security.
We support the uncensored and open flow of information, ideas and concepts over the Internet and do not actively monitor accounts under normal circumstances.Waabu does not implement any editorial access within any of our services. In accordance with our Terms of Service, Waabu serves the right to remove any material that violate Waabu's Terms of Service or any Australian Law, we may remove any materials that, in our sole discretion, may be illegal, may subject us to liability, or which may violate this Acceptable Use Policy.
Waabu may cooperate with legal authority or any third party investigation, on the premise of any claims of suspected or alleged crime or civil wrongdoing. The violation of the Acceptable use policy will result in either in suspension or termination of YOUR Waabu account or services, all under Waabu's discretion.
	<p>

	<h4>VIOLATIONS OF WAABU'S ACCEPTABLE USE POLICY </h4>
	<p>The following constitutes as violations of the Acceptable Use Policy</p> 
	<p>
	1. illegal Use: Waabu's services must not be used in/for any illegal purposes and/or activities. Waabu reserves the rights to cooperate with any Legal authorities and/or third paclaims,with any claims and/or accusation of crime and/or any civil wrongdoing <br>
	2. Minors: Use of Waabu's services to harm or attempt to harm minors in any form not just limited to child pornography, it is upto Waabu or legal entity's discretion on the premise of term 'harm', Waabu reserves the rights to forward any violation of Section 2 of Violations of Waabu's Acceptable use policy to any legal entity which concerns the violation of this policy.<br>
	3. Threats/Harassment: Use of Waabus Services to to transmit/send/clone any material that is determined to be, but are not limited to: Racist, hateful or harassing content is against the Acceptable Use of policy.<br>
	4. Fraudulent Activity: Use of Waabus Services to run and/or administer to make fraudulent activities including offers/schemes to sell or buy products, items or services, or any type of financial scams, examples of unacceptable use include, but are not limited to include pyramid schemes, ponzi schemes and chain letters<br>
	5. Copyright, Intellectual Property and Trademark Infringement: User of Waabus services to transmit/send/clon any material that infringes copyright, intellectual property, patent, trademark, trade secret or other proprietary rights of any third party, including but not limited to.<br>
	6. Spam: User's of Waabu's service are entitled to protect the IP Address that has been authorized, if a Waabu IP address is blacklisted in any/various Spam database. Immediate account cancelation of the account will occur. Waabu reserves the rights to charge a fine in accordance to violation of Section 6 in Waabu's Acceptable use policy. <br>
	7. Unauthorized Access: Any attempt to attempt any form of  which include and not limited to network monitoring/Filtering/Access, including Waabu's network or user's account/network is strictly forbidden. Any violation of these terms results in immediate termination of account and/or service<br>
	8. Personal Data: Collection of personal data of the Waabu Network is prohibited, result of accessing another user's data within the network results in termination of account.<br>
	9. Network Disruptions and unfriendly activities: Use of Waabus Services for any activity which affects the ability of other people or systems to use Waabus services on the internet. This includes denial of service (DOS) attacks against another host/server and or individual. Interference with individuals, services and/or hosts prohibited.<br>
	10. Third Party accountability: Waabu subscribers and/or Account holders will be responsible and accountable for any actions made within by third party parties, using their account that violates the Acceptable use policy <br>
11. Network Altering: Any attempt to attempt or change resource allocation for subscribed services, include and not limited to altering IP resources allocated, disk and processing unit sizes. Any violations of  these terms will result immediate termination of service

	</p>

	<h4>Uptime Guarantee:</h4>
	<p>
	Service credit is not issued for issues relating to hardware failure such as CPU (central processing unit), motherboard, Raid Cards, RAM and Disk Drives or any other components required for the service to be provided. Waabu offers a best effort guarantee on hardware related issues.
Network Uptime guarantee is offered by Waabu for Waabs based products. If your service has network downtime that is not within the 99.9% uptime guarantee, service credit can be equal the following:
	</p>

	<p>
	<li>99.9 = 0% - Downtime up to: 44 minutes 38 seconds <br>99.9 - 99.5 = 5% - Downtime up to:3 hours 43 minutes 12 seconds <br>99.4 - 98.5 = 10% - Downtime up to: 11 hours 9 minutes 36 seconds <br>98.4
            - 97.0 = 15% - Downtime up to: 14 hours 52 minutes 48 seconds <br>96.9 - 96.0= 20% - Downtime up to: 29 hours 45 minutes 36 seconds <br>Below 95.9 = 30% - Downtime below: 30 hours 30 minutes 14
            seconds</li>
	</p>
	<p>
	Network downtime does not include planned system maintenance, incoming DDOS or DOS (Denial Of Service) attack, or issues connecting to the service using third party software or connection issues brought upon by user on their system due to changes. 
	</p>
	<p>
Approval of the credit is at the discretion of Waabu on basis of justification provided. Uptime is determined by reported operating system uptime of a server. To request a credit, submit a support ticket with reference request of credit.
SLA and its credit calculated on a monthly basis 
	</p>

	<h4>Billings, Refunds and Overdue Accounts</h4>
	<p>
	Refunds are provided at the discretion of Waabu Pty Ltd. Set Up and/or any other associated fees include but not limited to Upgrades, SSL certificates, backup are not refundable.
	</p>

	<h4>Server Disconnection</h4> 
	<p>	
In the event of breach of Waabus Acceptable User Policy by abuse or non-payment, customer must pay a reconnection fee of $20/server
	</p>

	<h4>Data Integrity</h4>
	<p>
You use Waabu services at your own risk. Waabu is not responsible for files and/or data residing in your account. You agree to take full responsibility for files and data transferred and that reside on Waabu Servers. It is customers role to maintain backups of information situated in Waabu Servers.
	</p>
    </div>
  </div>
</div>

<waabu-footer></waabu-footer>
